.ietvars {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(122, 216, 240);
}

h1 {
    text-align: center;
    background: rgb(33, 67, 179);
    color: rgb(249, 249, 250);
}

ul {
    text-align: center;
    padding: 0px;
}

li {
    display: inline-block;
}

.speles_lauk {
    display: flex;
    flex-wrap: wrap;

    width: 485px;
    background: rgb(0, 0, 0);
    text-align: center;
    margin: auto;
    padding: 10px;

}

.bloks {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(58, 55, 226);
    width: 100px;
    height: 100px;
    margin: 10px;
    font-size: 45px;
    border-radius: 5px;
    transition: background 0.3s;
}

.bloks:hover {
    background:  #6882f5;
    cursor: pointer;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s;
    background-color: #007BFF;
    color: white;
    border: 2px solid #0056b3;
}

a:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

a:active {
    background-color: #274b72;
    color: rgb(33, 22, 180);
    transform: scale(1.05);
}

p{
    padding: 15px;
}

p{
    h3: 15px;
}