<!DOCTYPE html>
<html>
<header>
    <meta charset="UTF-8">
    <title>Atmiņas spēle</title>
    <link href="/static/style.css" rel="stylesheet">
</header>
<body>
    <div class="ietvars"><!--pelēkais laukums-->
        <div class="galviene"><!--virsraksts un meņuška-->
            <h1>Atmiņas spēle</h1>
            <ul>
                <li><a href="/">Sākums</a></li>
                <li><a href="/spele">Spēle</a></li>
                <li><a href="/tops">Tops</a></li>
                <li><a href="/par">Par projektu</a></li>
            </ul>
        </div><!--aizver galvieni-->
        <div class="saturs">
            <h3>Noteikumi</h3>
            <p>Spēles mērķis ir sameklēt vienādo emoji pārus ar pēc iespējas mazāko klikšīņāšanu skaitu. Spēlētājs uzklikšķina uz divām kartītem,ja abas kartītes satur vienādus emoji,tās paliek atvērtas.Ja kartītes nesakrīt,tad viņas aizveras un spēlētājs mēģina vēlreiz. Uzvar,ja tiek atrasti visi emoji pāri.</p>
            <h3>Spēlētāja pieteikšanās</h3>
            Vārds:<input id="vards"/>
            <button onclick="saktSpeli()">Sāk spēli</button>
            <div class="side-text">
                Izveidoja: Marita Kruglašova,2026
            </div>
        </div><!--aizver saturs-->
    </div><!--aizver ietvars-->
    <script src="/static/sakums.js"></script>
</body>




</html>